*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  position: fixed;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

.tables{
  width: calc(100% - 200px);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  align-items: self-start;
  padding: 0 20px 20px 20px;
  margin-left: 200px;
}

.last-appointments{
    min-height: 50px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  color: #444;
}

.btn{
  padding: 5px 10px;
  background: linear-gradient(45deg, #47cebe, #ef4a82);
  color: #fff;
  text-decoration: none;
  text-align: center;
}

table{
  margin-top: 10px;
  width: 100%;
  border-collapse:collapse;
}

thead th{
  font-weight: 600;
  color: #333;
}

table tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
  background: #444;
  color: #fff;
}

table tbody tr:last-child{
  border-bottom: none;
}

td{
  padding: 9px 5px;
}

td i{
  padding: 7px;
  color: #fff;
  border-radius: 50px;
}

.last-appointments table tbody td:last-child{
  white-space: nowrap;
}

.fa-eye{
  background: #32bea6;
}

.fa-edit{
  background: #63b4f4;
}

.fa-trash-alt{
  background: #ed5564;
}

button{
  border-color: #fff;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .title {
  font-size: 25px;
  text-align: start;
  width: 80%;
  margin-bottom: 10px;
  color: #5ab9ea;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.form-input::placeholder {
  color:  #999;
  font-size: 12px;
}

.form-input-btn{
  width: 80%;
  height: 45px;
  background: #e0e0e0;
  outline: none;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0;
  color: #5ab9ea;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 1);
}