form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 35px;
    color: #5ab9ea;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.input-field {
    width: 280px;
    height: 50px;
    margin: 10px 0;
    background: #e0e0e0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.input-field i {
    flex: 1.2;
    text-align: center;
    font-size: 20px;
    color: #999;
}

.input-field input {
    flex: 5;
    width: 100%;
    color: #444;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    background: none;
}

.input-field input::placeholder {
    color: #999;
}

.forgot-password {
    align-self: flex-end;
}

.butn {
    width: 130px;
    height: 45px;
    background: #e0e0e0;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0;
    color: #5ab9ea;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 1);
}

.account-text {
    color: #5ab9ea;
}

.container.sign-up-mode form.sign-in-form {
    visibility: hidden;
}

.container.sign-up-mode form.sign-up-form {
    visibility: visible;
}


/* responsive starts here */

@media(max-width: 400px) {
    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}