.newPatient{
    flex: 4;
}

.newPatientForm{
    display: flex;
    flex-wrap: wrap;
}

.newPatientItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newPatientItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.newPatientItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newPatientButton{
    width: 400px;
    border: none;
    background-color: rgb(21, 142, 218);
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}